.auth {
    background-color: rgb(233, 34, 44);
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
}

.logo {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 25px white, 0 0 25px white;
    margin: 20px;
    transition: 1s all ease;
}

.logo:hover{
    cursor: pointer;
    font-size: 28px;
    text-shadow: 1px 1px 2px white, -1px -1px 2px white, 0 0 30px white, 0 0 30px white, 0 0 30px white;
    margin-bottom: 10px;
}

.login {
    color: white;
    font-size: 14px;
    font-weight: 900;
    margin: 15px 15px 15px 0px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(233, 34, 44);
    border: 1px solid rgba(192, 18, 18, 0.767);
    border-radius: 5px;
    padding: 5px 10px;
}
.login:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px white;
}