.categoriesField {
    position: relative;
    margin: 10px 10px;
    padding: 12px 15px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;
    font-size: 15px;
}

.serviceformtitle {
    text-transform: capitalize;
  width: fit-content;
    align-self: center;
    margin: 0px 88px 20px 88px;
}

.serviceImage {
max-height: 250px;
}

.serviceImageShow {
  object-fit: cover;
  width: 100%;
  max-height: 510px;
}

.confirmDelete {
  width: 100%;
    border: 1px solid red;
    font-size: 20px;
    border-radius: 4px;
    background-color: #e35656e8;
    margin-bottom: 8px;
    color: white;
}

.rotatedDiv {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    margin-top: -16px;
    border-left: 1px solid black;
    border-top: 1px solid black;

}

.confirmDelete:hover {
  background-color: red;
  cursor: pointer;
  border-color: black;
  box-shadow: 0px 0px 10px red;
}

#uploadButton {
  background-color:#35a4c8;
  box-shadow: none;
}

.sampleImage {
      max-height: 185px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0px 0px 20px black;
}

.sampleImage:hover {
  cursor: pointer;
}

.hidden {
  max-height: 0px;
  display: none;
  opacity: 0;
}

.deleteConfirmation {
  text-align: center;
}

.reviewButton {
  border: 1px solid black;
    border-radius: 4px;
    font-size: 20px;
       margin: 10px 10px 10px 4%;
    font-weight: 500;
    font-family: sans-serif;
}

.moreCategories {
  margin-left: 4%;
}

.reviewButton:hover {
  cursor: pointer;
  border: 1px solid green;
  box-shadow: 0px 0px 5px lightgreen;
}

.reviewButton:active {
  transform: translateY(2px);
}

.deleteSection {
  transition: all 0.4s ease-out;

  /* max-height: fit-content; */
  opacity: 1;
    position: absolute;
    align-self: flex-end;
    background-color: white;
    left: 88.5%;
    width: 47%;
    min-width: 100px;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 20px black;
}

.mainBar {
  display: flex;
}

.titleAndOptions {
      position: absolute;
      left: 4%;
      bottom: 5%;
      display: flex;
      width: fit-content;
      flex-direction: column;
}

.serviceShowTitle {

    margin: 0;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.serviceShowHeader {
  position: relative;
}

.serviceTitle {
margin-top: 10px;
margin-left: 10px;
}

.serviceIndexItem {
  height: fit-content;
  background-color: white;
margin: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.serviceIndexItem:hover {
    z-index: 1;
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ServicesPage {
  width: 100%;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  background-color: #f2eded;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ServiceIndex {
  margin-right: 30px;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
}

.serviceFormPage{
  display: flex;
  justify-content: center;
}

.serviceform {
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}

.serviceform:last-child {
  margin-bottom: 20px;
}

.serviceform:first-child {
  margin-top: 30px;
}

.categoriesField::after {
      content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}

.categoriesField .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    margin-top: 0;
    border-bottom: none;
    padding: 0;
    list-style: none;
    max-height: 0;
    overflow: auto;
  }
  
  .categoriesField.active .dropdown {
  max-height: 150px;
  /* max-height: fit-content;  */
}

.categoriesField .dropdown li {
  padding: 0 10px;
}

.categoriesField .dropdown li {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
    margin: 10px;
}

#catField:last-of-type {
  border-bottom: none;
}

.categoriesField .dropdown li:hover {
  color: white;
  font-weight: 600;
}

.categoriesField.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    border-bottom: none;
    color: white;
}

.categoriesField.active:after {
  border-color: #82d1ff transparent;
}

.moreCategories {
  font-style: arial;
}

.moreCategories:hover {
  cursor: pointer;
  color: blue;
  font-style: arial;
}

.editButton {
      margin-left: 10px;
    margin-top: 4px;
  border: 1px solid white;
  height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.trashButton {
      margin-left: 10px;
    margin-top: 4px;
    border: 1px solid white;
  height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.trashButton:hover{
  transform: scale(1.3) perspective(10px);
  cursor: pointer;
  box-shadow: 1px 1px 2px white, 0 0 20px white, 0 0 20px white;
}

.editButton:hover{
  transform: scale(1.3) perspective(10px);
  cursor: pointer;
  box-shadow: 1px 1px 2px white, 0 0 20px white, 0 0 20px white;
}

#catField {
  padding: 10px 15px;
  display: block;
  margin: 0px;
  font-size: 15px;
  border-bottom: 1px solid rgb(218, 213, 213);;
}

#catField:hover {
  background-color: #82d1ff;
}

.categoriesField:focus {
  outline: none;
}